

/* ========= Alertes Flash ========== */
.custom-alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    transition: opacity 0.4s ease-in-out;
}

.custom-alert ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.custom-alert li {
    margin-bottom: 0.3rem;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    margin-left: 1rem;
}

.close-btn:hover {
    color: #ccc;
}

.custom-alert.danger {
    background-color: #ea4e5d;
}

.custom-alert.warning {
    background-color: #ffc107;
    color: #000;
}

.custom-alert.success {
    background-color: #56c570;
}

.custom-alert.danger:hover,
.custom-alert.success:hover,
.custom-alert.warning:hover {
    background-color: #ddd;
    color: #333;
}



